<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="Bookmark" href="favicon.ico" >
		<link rel="Shortcut Icon" href="favicon.ico" />
		<!--[if lt IE 9]>
		<script type="text/javascript" src="__HUI_LIB__/html5.js"></script>
		<script type="text/javascript" src="__HUI_LIB__/respond.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="__HUI__/css/H-ui.css" />
		<link rel="stylesheet" type="text/css" href="__HUI_ADMIN__/css/H-ui.admin.css" />
		<link rel="stylesheet" type="text/css" href="__HUI_LIB__/Hui-iconfont/1.0.8/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="__HUI_ADMIN__/skin/default/skin.css" id="skin" />
		<link rel="stylesheet" type="text/css" href="__HUI_ADMIN__/css/style.css" />
		<link rel="stylesheet" type="text/css" href="__PUB__/css/style.css" />
		<!--[if IE 6]>
		<script type="text/javascript" src="http://__HUI_LIB__.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
		<script>DD_belatedPNG.fix('*');</script>
		<![endif]-->
		<!--/meta 作为公共模版分离出去-->
		<title></title>
		<meta name="keywords" content="">
		<meta name="description" content="">
	</head>
	<body>
		<article class="cl pd-20">
			<form class="form form-horizontal">
				<input type="hidden" name="userid" value="{$user.userid}"/>s
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$user.username}" placeholder="" name="username" id="username">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>昵称：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" autocomplete="off" value="{$user.nickname}"  name="nickname">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$user.mobile}" placeholder="" name="mobile">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" placeholder="@" name="email" value="{$user.email}">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">角色：</label>
					<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
						<select class="select" name="roleid" size="1">
							{volist name='role' id='vo'}
							<option value="{$vo.id}"
							{if condition='($vo.id eq $user.roleid)'}
							selected
							{/if}
							>{$vo.role_name}</option>
							{/volist}
						</select>
						</span> </div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">备注：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<textarea name="memo" rows="" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp="textarealength(this,100)">
							{$user.memo}
						</textarea>
						<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
					</div>
				</div>
				<div class="float_button btn-group">
						<button type="submit" class="btn btn-primary radius">
							<i class="icon-ok"></i>
							&nbsp;&nbsp;保存&nbsp;&nbsp;
						</button>
						<button type="reset" class="btn btn-default radius">
							<i class="icon-ok"></i>
							&nbsp;&nbsp;取消&nbsp;&nbsp;
						</button>
				</div>
			</form>
		</article>
	</body>
	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="__HUI_LIB__/jquery/1.9.1/jquery.min.js"></script> 
	<script type="text/javascript" src="__HUI_LIB__/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="__HUI__/js/H-ui.js"></script> 
	<script type="text/javascript" src="__HUI_ADMIN__/js/H-ui.admin.page.js"></script> 
	<script type="text/javascript" src="__PUB__/js/public.js"></script> 
	<script type="text/javascript">
		$("form").submit(function(){
			if($('#username').val() == ''){
				layer.msg('用户名不能为空', {icon:2, time:1000});
				return false;
			}
			var cont = $('form').serialize();
	        $.ajax({
	        	type: 'POST', 
	        	data: cont,
	      		dataType: 'json',
	        	url: "{:url('user/update')}",
	            success: function (data) { 
	            	data = eval("("+data+")");//
					if(data.success == 'false'){
						layer.msg(data.msg,{icon:2,time:1000});
					}else{
						layer.msg(
							data.msg,
							{
								icon:1,
								time:1000,
								end:function(){
									window.parent.location.reload(); //刷新父页面
									var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
									parent.layer.close(index);  // 关闭layer	
								}
							},

						);
					}
	            },
	            error: function (xhr) {
	                
	            } 
	        });
	        return false;
		})
	</script>
	<!--/请在上方写此页面业务相关的脚本-->

</html>